In [1]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import cufflinks as cf
cf.go_offline()
%matplotlib inline

In [2]:
#Special Imports
import inflect as inf
import re
import requests 
import bs4
from re import sub
from collections import Counter

In [3]:
###CAMELCASE FUNCTION###
def camel_case(s):
    #not true camelcase but adjusted for queries 
    
  s = sub(r"(_|-)+", " ", s).title().replace(" ", "")
  return ''.join([s[0].upper(), s[1:]])

In [4]:
#Read In DF
df = pd.read_csv('BigML_Dataset_5f50a62c2fb31c516d000176.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Columns: 119 entries, year to release_date.day-of-week
dtypes: float64(10), int64(46), object(63)
memory usage: 1.1+ MB

In [7]:
df.describe()

,year,duration,rate,metascore,votes,gross,user_reviews,critic_reviews,popularity,awards_wins,...,Boston_Society_of_Film_Critics_won,Boston_Society_of_Film_Critics_nominated,New_York_Film_Critics_Circle_won,New_York_Film_Critics_Circle_nominated,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
count,1183.000000,1183.000000,1183.000000,1169.000000,1.183000e+03,1.159000e+03,1176.000000,1176.000000,1064.000000,1183.000000,...,1183.000000,1183.000000,1183.000000,1183.000000,1183.000000,1183.00000,1174.000000,1174.000000,1174.000000,1174.000000
mean,2008.189349,116.176669,7.045478,63.744226,1.925260e+05,8.609816e+07,568.876701,269.219388,1296.877820,2.894336,...,0.165680,0.319527,0.146238,0.313609,0.180051,0.32967,2008.321976,6.737649,16.036627,4.699319
std,5.019049,19.615381,0.826094,16.973300,1.912311e+05,1.011521e+08,564.816928,144.088080,1019.818482,6.237800,...,0.582839,0.886646,0.513523,0.841324,0.574890,0.89340,4.978752,3.693869,8.324177,0.744894
min,2000.000000,70.000000,2.400000,9.000000,5.070000e+02,1.207000e+03,3.000000,1.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2000.000000,1.000000,1.000000,1.000000
25%,2004.000000,102.000000,6.600000,51.000000,6.550700e+04,1.603000e+07,219.000000,165.000000,524.750000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2004.000000,3.000000,9.000000,5.000000
50%,2008.000000,114.000000,7.100000,65.000000,1.402320e+05,5.275000e+07,408.000000,239.000000,1088.500000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2008.000000,7.000000,16.000000,5.000000
75%,2013.000000,128.000000,7.600000,77.000000,2.631190e+05,1.193700e+08,709.750000,351.000000,1772.750000,3.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,2013.000000,10.000000,23.000000,5.000000
max,2017.000000,224.000000,9.000000,100.000000,1.743331e+06,9.366300e+08,5078.000000,816.000000,4937.000000,49.000000,...,5.000000,6.000000,5.000000,6.000000,5.000000,7.00000,2018.000000,12.000000,31.000000,7.000000

In [9]:
df.head()

,year,movie,movie_id,certificate,duration,genre,rate,metascore,synopsis,votes,...,New_York_Film_Critics_Circle_nominated,New_York_Film_Critics_Circle_nominated_categories,Los_Angeles_Film_Critics_Association_won,Los_Angeles_Film_Critics_Association_won_categories,Los_Angeles_Film_Critics_Association_nominated,Los_Angeles_Film_Critics_Association_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
0,2001,Kate & Leopold,tt0035423,PG-13,118,Comedy|Fantasy|Romance,6.4,44.0,An English Duke from 1876 is inadvertedly drag...,66660,...,0,NaN,0,NaN,0,NaN,2001.0,12.0,25.0,2.0
1,2000,Chicken Run,tt0120630,G,84,Animation|Adventure|Comedy,7.0,88.0,When a cockerel apparently flies into a chicke...,144475,...,1,Best Animated Film,1,Best Animation,1,Best Animation,2000.0,6.0,23.0,5.0
2,2005,Fantastic Four,tt0120667,PG-13,106,Action|Adventure|Family,5.7,40.0,A group of astronauts gain superpowers after a...,273203,...,0,NaN,0,NaN,0,NaN,2005.0,7.0,8.0,5.0
3,2002,Frida,tt0120679,R,123,Biography|Drama|Romance,7.4,61.0,"A biography of artist Frida Kahlo, who channel...",63852,...,0,NaN,0,NaN,0,NaN,2002.0,11.0,22.0,5.0
4,2001,The Lord of the Rings: The Fellowship of the Ring,tt0120737,PG-13,178,Adventure|Drama|Fantasy,8.8,92.0,A meek Hobbit from the Shire and eight compani...,1286275,...,0,NaN,1,Best Music,2,Best Music|Best Production Design,2001.0,12.0,19.0,3.0

In [11]:
#Need to split the genre string into a list
df['genre'] = df['genre'].apply(lambda string: string.split('|'))

In [15]:
for i in df.columns:
    print(i)

year
movie
movie_id
certificate
duration
genre
rate
metascore
synopsis
votes
gross
release_date
user_reviews
critic_reviews
popularity
awards_wins
awards_nominations
Oscar_Best_Picture_won
Oscar_Best_Picture_nominated
Oscar_Best_Director_won
Oscar_Best_Director_nominated
Oscar_Best_Actor_won
Oscar_Best_Actor_nominated
Oscar_Best_Actress_won
Oscar_Best_Actress_nominated
Oscar_Best_Supporting_Actor_won
Oscar_Best_Supporting_Actor_nominated
Oscar_Best_Supporting_Actress_won
Oscar_Best_Supporting_Actress_nominated
Oscar_Best_AdaScreen_won
Oscar_Best_AdaScreen_nominated
Oscar_Best_OriScreen_won
Oscar_Best_OriScreen_nominated
Oscar_nominated
Oscar_nominated_categories
Golden_Globes_won
Golden_Globes_won_categories
Golden_Globes_nominated
Golden_Globes_nominated_categories
BAFTA_won
BAFTA_won_categories
BAFTA_nominated
BAFTA_nominated_categories
Screen_Actors_Guild_won
Screen_Actors_Guild_won_categories
Screen_Actors_Guild_nominated
Screen_Actors_Guild_nominated_categories
Critics_Choice_won
Critics_Choice_won_categories
Critics_Choice_nominated
Critics_Choice_nominated_categories
Directors_Guild_won
Directors_Guild_won_categories
Directors_Guild_nominated
Directors_Guild_nominated_categories
Producers_Guild_won
Producers_Guild_won_categories
Producers_Guild_nominated
Producers_Guild_nominated_categories
Art_Directors_Guild_won
Art_Directors_Guild_won_categories
Art_Directors_Guild_nominated
Art_Directors_Guild_nominated_categories
Writers_Guild_won
Writers_Guild_won_categories
Writers_Guild_nominated
Writers_Guild_nominated_categories
Costume_Designers_Guild_won
Costume_Designers_Guild_won_categories
Costume_Designers_Guild_nominated
Costume_Designers_Guild_nominated_categories
Online_Film_Television_Association_won
Online_Film_Television_Association_won_categories
Online_Film_Television_Association_nominated
Online_Film_Television_Association_nominated_categories
Online_Film_Critics_Society_won
Online_Film_Critics_Society_won_categories
Online_Film_Critics_Society_nominated
Online_Film_Critics_Society_nominated_categories
People_Choice_won
People_Choice_won_categories
People_Choice_nominated
People_Choice_nominated_categories
London_Critics_Circle_Film_won
London_Critics_Circle_Film_won_categories
London_Critics_Circle_Film_nominated
London_Critics_Circle_Film_nominated_categories
American_Cinema_Editors_won
American_Cinema_Editors_won_categories
American_Cinema_Editors_nominated
American_Cinema_Editors_nominated_categories
Hollywood_Film_won
Hollywood_Film_won_categories
Hollywood_Film_nominated
Hollywood_Film_nominated_categories
Austin_Film_Critics_Association_won
Austin_Film_Critics_Association_won_categories
Austin_Film_Critics_Association_nominated
Austin_Film_Critics_Association_nominated_categories
Denver_Film_Critics_Society_won
Denver_Film_Critics_Society_won_categories
Denver_Film_Critics_Society_nominated
Denver_Film_Critics_Society_nominated_categories
Boston_Society_of_Film_Critics_won
Boston_Society_of_Film_Critics_won_categories
Boston_Society_of_Film_Critics_nominated
Boston_Society_of_Film_Critics_nominated_categories
New_York_Film_Critics_Circle_won
New_York_Film_Critics_Circle_won_categories
New_York_Film_Critics_Circle_nominated
New_York_Film_Critics_Circle_nominated_categories
Los_Angeles_Film_Critics_Association_won
Los_Angeles_Film_Critics_Association_won_categories
Los_Angeles_Film_Critics_Association_nominated
Los_Angeles_Film_Critics_Association_nominated_categories
release_date.year
release_date.month
release_date.day-of-month
release_date.day-of-week

In [18]:
oscar = df[['year', 'movie', 'certificate', 'duration', 'metascore',
 'genre', 'gross', 'release_date', 'Oscar_Best_Picture_won',
 'Oscar_Best_Picture_nominated', 'Oscar_Best_Director_won',
'Oscar_Best_Director_nominated', 'Oscar_Best_Actor_won' ,
'Oscar_Best_Actor_nominated', 'Oscar_Best_Actress_won',
 'Oscar_Best_Actress_nominated',
'Oscar_Best_Supporting_Actor_won',
'Oscar_Best_Supporting_Actor_nominated',
'Oscar_Best_Supporting_Actress_won',
'Oscar_Best_Supporting_Actress_nominated',
'Oscar_Best_AdaScreen_won',
'Oscar_Best_AdaScreen_nominated',
'Oscar_Best_OriScreen_won',
'Oscar_Best_OriScreen_nominated',
'Oscar_nominated',
'Oscar_nominated_categories',
'release_date.year',
'release_date.month',
'release_date.day-of-month',
'release_date.day-of-week']].copy()

In [19]:
oscar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1183 entries, 0 to 1182
Data columns (total 30 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   year                                     1183 non-null   int64
 1   movie                                    1183 non-null   object
 2   certificate                              1173 non-null   object
 3   duration                                 1183 non-null   int64
 4   metascore                                1169 non-null   float64
 5   genre                                    1183 non-null   object
 6   gross                                    1159 non-null   float64
 7   release_date                             1174 non-null   object
 8   Oscar_Best_Picture_won                   1183 non-null   object
 9   Oscar_Best_Picture_nominated             1183 non-null   object
 10  Oscar_Best_Director_won                  1183 non-null   object
 11  Oscar_Best_Director_nominated            1183 non-null   object
 12  Oscar_Best_Actor_won                     1183 non-null   object
 13  Oscar_Best_Actor_nominated               1183 non-null   object
 14  Oscar_Best_Actress_won                   1183 non-null   object
 15  Oscar_Best_Actress_nominated             1183 non-null   object
 16  Oscar_Best_Supporting_Actor_won          1183 non-null   object
 17  Oscar_Best_Supporting_Actor_nominated    1183 non-null   object
 18  Oscar_Best_Supporting_Actress_won        1183 non-null   object
 19  Oscar_Best_Supporting_Actress_nominated  1183 non-null   object
 20  Oscar_Best_AdaScreen_won                 1183 non-null   object
 21  Oscar_Best_AdaScreen_nominated           1183 non-null   object
 22  Oscar_Best_OriScreen_won                 1183 non-null   object
 23  Oscar_Best_OriScreen_nominated           1183 non-null   object
 24  Oscar_nominated                          1183 non-null   int64
 25  Oscar_nominated_categories               632 non-null    object
 26  release_date.year                        1174 non-null   float64
 27  release_date.month                       1174 non-null   float64
 28  release_date.day-of-month                1174 non-null   float64
 29  release_date.day-of-week                 1174 non-null   float64
dtypes: float64(6), int64(3), object(21)
memory usage: 277.4+ KB

In [20]:
oscar.describe()

,year,duration,metascore,gross,Oscar_nominated,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
count,1183.000000,1183.000000,1169.000000,1.159000e+03,1183.000000,1174.000000,1174.000000,1174.000000,1174.000000
mean,2008.189349,116.176669,63.744226,8.609816e+07,1.449704,2008.321976,6.737649,16.036627,4.699319
std,5.019049,19.615381,16.973300,1.011521e+08,2.310638,4.978752,3.693869,8.324177,0.744894
min,2000.000000,70.000000,9.000000,1.207000e+03,0.000000,2000.000000,1.000000,1.000000,1.000000
25%,2004.000000,102.000000,51.000000,1.603000e+07,0.000000,2004.000000,3.000000,9.000000,5.000000
50%,2008.000000,114.000000,65.000000,5.275000e+07,1.000000,2008.000000,7.000000,16.000000,5.000000
75%,2013.000000,128.000000,77.000000,1.193700e+08,2.000000,2013.000000,10.000000,23.000000,5.000000
max,2017.000000,224.000000,100.000000,9.366300e+08,14.000000,2018.000000,12.000000,31.000000,7.000000

In [21]:
oscar.sort_values(['year', 'movie'])

,year,movie,certificate,duration,metascore,genre,gross,release_date,Oscar_Best_Picture_won,Oscar_Best_Picture_nominated,...,Oscar_Best_AdaScreen_won,Oscar_Best_AdaScreen_nominated,Oscar_Best_OriScreen_won,Oscar_Best_OriScreen_nominated,Oscar_nominated,Oscar_nominated_categories,release_date.year,release_date.month,release_date.day-of-month,release_date.day-of-week
94,2000,102 Dalmatians,G,100,35.0,"[Adventure, Comedy, Family]",66940000.0,2000-11-22,No,No,...,No,No,No,No,1,Best Costume Design,2000.0,11.0,22.0,3.0
51,2000,Almost Famous,R,122,90.0,"[Adventure, Comedy, Drama]",32520000.0,2000-09-22,No,No,...,No,No,Yes,Yes,4,Best Original Screenplay|Best Performance by a...,2000.0,9.0,22.0,5.0
18,2000,American Psycho,R,102,64.0,"[Crime, Drama]",15050000.0,2000-04-14,No,No,...,No,No,No,No,0,NaN,2000.0,4.0,14.0,5.0
134,2000,Amores Perros,R,154,83.0,"[Drama, Thriller]",5380000.0,2001-04-13,No,No,...,No,No,No,No,1,Best Foreign Language Film,2001.0,4.0,13.0,5.0
57,2000,Battlefield Earth,PG-13,118,9.0,"[Action, Adventure, Sci-Fi]",21470000.0,2000-05-12,No,No,...,No,No,No,No,0,NaN,2000.0,5.0,12.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1176,2017,The Shape of Water,R,123,86.0,"[Adventure, Drama, Fantasy]",37900000.0,2017-12-22,No,Yes,...,No,No,No,Yes,13,Best Achievement in Directing|Best Motion Pict...,2017.0,12.0,22.0,5.0
1169,2017,"Three Billboards Outside Ebbing, Missouri",R,115,88.0,"[Crime, Drama]",37250000.0,NaN,No,Yes,...,No,No,No,Yes,7,Best Motion Picture of the Year|Best Performan...,NaN,NaN,NaN,NaN
1180,2017,Victoria & Abdul,PG-13,111,58.0,"[Biography, Drama, History]",22250000.0,2017-10-06,No,No,...,No,No,No,No,2,Best Achievement in Makeup and Hairstyling|Bes...,2017.0,10.0,6.0,5.0
1118,2017,War for the Planet of the Apes,PG-13,140,82.0,"[Action, Adventure, Drama]",146880000.0,2017-07-14,No,No,...,No,No,No,No,1,Best Achievement in Visual Effects,2017.0,7.0,14.0,5.0
1060,2017,Wonder,PG,113,66.0,"[Drama, Family]",130560000.0,NaN,No,No,...,No,No,No,No,1,Best Achievement in Makeup and Hairstyling,NaN,NaN,NaN,NaN

In [23]:
oscar = oscar.drop(['release_date.year','release_date.month','release_date.day-of-month', 'release_date.day-of-week'], axis = 1)

In [24]:
oscar.head()

,year,movie,certificate,duration,metascore,genre,gross,release_date,Oscar_Best_Picture_won,Oscar_Best_Picture_nominated,...,Oscar_Best_Supporting_Actor_won,Oscar_Best_Supporting_Actor_nominated,Oscar_Best_Supporting_Actress_won,Oscar_Best_Supporting_Actress_nominated,Oscar_Best_AdaScreen_won,Oscar_Best_AdaScreen_nominated,Oscar_Best_OriScreen_won,Oscar_Best_OriScreen_nominated,Oscar_nominated,Oscar_nominated_categories
0,2001,Kate & Leopold,PG-13,118,44.0,"[Comedy, Fantasy, Romance]",47100000.0,2001-12-25,No,No,...,No,No,No,No,No,No,No,No,1,"Best Music, Original Song"
1,2000,Chicken Run,G,84,88.0,"[Animation, Adventure, Comedy]",106790000.0,2000-06-23,No,No,...,No,No,No,No,No,No,No,No,0,NaN
2,2005,Fantastic Four,PG-13,106,40.0,"[Action, Adventure, Family]",154700000.0,2005-07-08,No,No,...,No,No,No,No,No,No,No,No,0,NaN
3,2002,Frida,R,123,61.0,"[Biography, Drama, Romance]",25780000.0,2002-11-22,No,No,...,No,No,No,No,No,No,No,No,6,"Best Music, Original Score|Best Makeup|Best Pe..."
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,92.0,"[Adventure, Drama, Fantasy]",313840000.0,2001-12-19,No,Yes,...,No,Yes,No,No,No,Yes,No,No,13,"Best Cinematography|Best Makeup|Best Music, Or..."

In [30]:
oscar['Nominated Categories'] = oscar['Oscar_nominated_categories'].fillna('').apply(lambda line: line.split('|'))

In [33]:
oscar.drop('Oscar_nominated_categories', axis= 1, inplace = True)

In [34]:
oscar.head()

,year,movie,certificate,duration,metascore,genre,gross,release_date,Oscar_Best_Picture_won,Oscar_Best_Picture_nominated,...,Oscar_Best_Supporting_Actor_won,Oscar_Best_Supporting_Actor_nominated,Oscar_Best_Supporting_Actress_won,Oscar_Best_Supporting_Actress_nominated,Oscar_Best_AdaScreen_won,Oscar_Best_AdaScreen_nominated,Oscar_Best_OriScreen_won,Oscar_Best_OriScreen_nominated,Oscar_nominated,Nominated Categories
0,2001,Kate & Leopold,PG-13,118,44.0,"[Comedy, Fantasy, Romance]",47100000.0,2001-12-25,No,No,...,No,No,No,No,No,No,No,No,1,"[Best Music, Original Song]"
1,2000,Chicken Run,G,84,88.0,"[Animation, Adventure, Comedy]",106790000.0,2000-06-23,No,No,...,No,No,No,No,No,No,No,No,0,[]
2,2005,Fantastic Four,PG-13,106,40.0,"[Action, Adventure, Family]",154700000.0,2005-07-08,No,No,...,No,No,No,No,No,No,No,No,0,[]
3,2002,Frida,R,123,61.0,"[Biography, Drama, Romance]",25780000.0,2002-11-22,No,No,...,No,No,No,No,No,No,No,No,6,"[Best Music, Original Score, Best Makeup, Best..."
4,2001,The Lord of the Rings: The Fellowship of the Ring,PG-13,178,92.0,"[Adventure, Drama, Fantasy]",313840000.0,2001-12-19,No,Yes,...,No,Yes,No,No,No,Yes,No,No,13,"[Best Cinematography, Best Makeup, Best Music,..."

In [37]:
#We map the strings No, Yes into numbers for easy evaluation
bool_dict = {'No': 0 , 'Yes': 1}

In [36]:
oscar['Oscar_Best_Picture_won'].map(bool_dict)

0       0
1       0
2       0
3       0
4       0
       ..
1178    0
1179    0
1180    0
1181    0
1182    0
Name: Oscar_Best_Picture_won, Length: 1183, dtype: int64

In [38]:
#We process the release date into a datetime object,
#Make OscarsWon column, and Oscar Win Ratio
#Check gross, metascore, and Oscar Win Ratio